@import "./skeleton.scss";
@import "./help.scss";
@import "./theme/index.scss";

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.xgplayer-inactive .xgplayer-controls, .xgplayer-is-live .xgplayer-controls>* {
  display: flex !important;
}
.pressureScreen {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2000;
  .redpack-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 340px;
    width: 260px;
    margin-top: -170px;
    margin-left: -130px;
    background-color: #dd4582;
    background-image: linear-gradient(160deg,#ffeb00,#ffb820,#ff8748,#ff5e69,#dd4582,#a43f8e,#623e8a,#0c3776);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    // justify-content: center;
    align-items: center;
    .title {
      font-size: 16px;
      color: #333;
      text-align: center;
    }
    .redpack {
      // margin-top: 20px;
      height: 240px;
      width: 240px;
    }
    .save {
      margin-top: 10px;
      color: orange;
    }
  }
}